body{
font-family: "Times New Roman" !important;
}


.to-upper{
text-transform: uppercase;
}

div.section{
margin-bottom: 40px;
}

@page {
    @bottom-center {
        content: counter(page);
    }
}

@media print {
  .break-after {
    page-break-after: always;
  }
}